*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', monospace;
  
}
body {
  background: linear-gradient(#ff939f,#ffc298,#0f877f);
  background-repeat: no-repeat;
  padding: 0 0 100px;
}
.whole-wrap {
  margin: 30px auto;
  width: 850px;
  padding: 0 0 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  box-shadow: 0px 21px 169px -6px rgba(0,0,0,0.71);
}

header{
  width: 850px;
  display: flex;
  justify-content: space-around;
}

header span.name {
  font-size: 200px;
  font-weight: 800;
  display: inline;
  position: relative;
  letter-spacing: 0.2px;
  color: rgba(0,120,73,0.5); 
}

header span.name:after {
  content: "xoxo";
  position: absolute; left: 5px; top: 3px;
  color: rgba(38,34,40,0.6);   
}
.track{
  width: 850px;
  margin:20px auto;
  display: flex;
  justify-content: space-around;
  color: #262228;
  text-shadow: 0px 1px 1px #4d4d4d;
}

.refrh-con{
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-icons.md-100 {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 100px;  
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.round{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span.rnd-txt, #r-count{
  text-align: center;
  font-size: 48px;
  font-weight: 800; 
}

.score-box {

  width: 150px;
  height: 150px;
  border-radius: 20px;
  box-shadow: 0 0 5px #000000;
}

.x-score-hold {
  width: 150px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px 10px 0 0;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  /* letter-spacing: 0.0625em; */
}

.o-score-hold {
  width: 150px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0 0 10px 10px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  /* letter-spacing: 0.0625em; */
}

 #x-place, #o-place, #x, #o {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.0625em;

} 

.main-wrap {
  width: 850px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main {
  width: 600px;
  height: 600px;
  cursor: pointer;
  /* border: 1px solid black; */
  display: table;
  border-radius: 50px;
  box-shadow: inset 0 0 50px #222222;
  position: absolute;
}

.result-pop{
  width: 850px;
  height: 200px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  box-shadow: inset 0px 11px 8px -10px #CCC,
              inset 0px -11px 8px -10px #CCC; 
}

.win-result{
  font-size: 80px;
  text-align: center;
  font-weight: 600;
  color: rgba(7, 118, 110, 1);
}

main div { 
  width: 200px;
  height: 200px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disp {
  font-size: 150px;
  text-shadow: 0px 1px 1px #4d4d4d;
}
.x-clr{
  color: #077970;
}
.o-clr{
  color: #00677F;
}

.disp.animated.bounceInDown {
  -vendor-animation-duration: 2s;
}

.one, .thr, .fiv, .sev, .nin {
  background-color: rgba(255, 255, 255, 0.5);
}

.two, .fou, .six, .eig {
  background-color: rgba(255, 255, 255, 0.2);
}

.one {
  border-radius: 50px 0 0 0;
}
.thr{
  border-radius: 0 50px 0 0;
}

.sev{
  border-radius: 0 0 0 50px;
}
.nin{
  border-radius: 0 0 50px 0;
}

.alrdwon{
  pointer-events: none;
}

.x-turn,.o-turn {
pointer-events: none;

}




